.loader {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 1;
    background-color: #3b2c2c;
    opacity: .9;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;

    svg {
        animation: fillingIcon 1.5s ease-in-out;
    }

    @keyframes fillingIcon {
        0% {
            color:#FFC500;
            transform: rotate(45deg);
        }
        25% {
            transform: rotate(90deg);
        }
        50% {
            color: rgb(255, 0, 0);
            transform: rotate(180deg);
        }
        75% {
            color: rgba(84, 138, 135, 0.952);
            transform: rotate(269deg);
        }
        100% {
            transform: rotate(360deg);
        }
    }

}