* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-image: url('../images/bg.png');
    font-family: 'Marvel';
    height: 100vh;
    padding: 0 30px;
}

input,
button {
    font-family: 'Marvel';
    font-size: 14px;
}