<app-logo [size]="size"></app-logo>
<div class="login">
    <form class="login__form" [formGroup]="userForm" (ngSubmit)="onSubmit()">
        <div class="login__form__fields">
            <label class="login__form__label">E-mail</label>
            <input type="text"
                class="login__form__input" 
                formControlName="email" 
                name="Email" 
                required 
            >
            <p class="login__error__field" *ngIf="email.touched && email.errors && !errors">
                Por favor, digite um e-mail válido.
            </p>
        </div>
        <div class="login__form__fields">
            <label class="login__form__label">Senha</label>
            <input type="password" class="login__form__input" formControlName="password" name="Senha" required>
            <p class="login__error__field" *ngIf="password.touched && password.errors && !errors">
                Este campo é requerido.
            </p>
        </div>
        <div class="login__error" *ngIf="errors">
            <p>E-mail ou senha inválidos. Tente novamente</p>
        </div>
        <div class="login__form__btn">
            <button type="submit">Entrar</button>
        </div>
    </form>
    <app-loader *ngIf="loading"></app-loader>
</div>