.movies-detail {
    margin-top: 20px;

    &__title {
        color: #FF0000;
        margin-left: 3px;
        cursor: pointer;
    }

    &__more {
        margin-bottom: 5px;
        &__title {
            font-size: 15px;
            color: #FFC500;
            text-transform: uppercase;
            font-weight: 100;
        }
    }

    &__content {
        display: flex;
        align-items: center;
        
        img {
            cursor: pointer;
            &:last-child {
                margin-left: -0.5px;
            }
        }
    }
}