<div class="movies-detail">
    <div class="movies-detail__content" (click)="getDetails(index)" *ngIf="!showDetails">
        <img src="../../../assets/svgs/detail.svg" alt="detail">
        <img src="../../../assets/svgs/detail.svg" alt="detail">
        <p class="movies-detail__title" [ngClass]="{'movies-detail__title--white': isActive}">Details</p>
    </div>
    <div *ngIf="showDetails">
        <div class="movies-detail__more">
            <h4 class="movies-detail__more__title">Producer</h4>
            <p>{{producer}}</p>
        </div>
        <div class="movies-detail__more">
            <h4 class="movies-detail__more__title">Director</h4>
            <p>{{director}}</p>
        </div>
        <div class="movies-detail__more">
            <h4 class="movies-detail__more__title">Producer</h4>
            <p>{{producer}}</p>
        </div>
    </div>
</div>
