<div class="movies-detail">
    <div class="movies-detail__content" (click)="getDetails(index)" *ngIf="!showDetails">
        <img src="../../../assets/svgs/detail.svg" alt="detail">
        <img src="../../../assets/svgs/detail.svg" alt="detail">
        <p class="movies-detail__title">Details</p>
    </div>
    <div *ngIf="showDetails && !loading">
        <div class="movies-detail__more">
            <h4 class="movies-detail__more__title">Planets</h4>
            <p>{{planetsResult}}</p>
        </div>
        <div class="movies-detail__more">
            <h4 class="movies-detail__more__title">Director</h4>
            <p>{{director}}</p>
        </div>
        <div class="movies-detail__more">
            <h4 class="movies-detail__more__title">Producer</h4>
            <p>{{producer}}</p>
        </div>
    </div>
    <app-loader *ngIf="loading"></app-loader>
</div>
