<div class="auth">
    <form class="auth__form" [formGroup]="authForm" (ngSubmit)="onSubmit()">
        <div class="auth__form__fields">
            <label class="auth__form__label">E-mail</label>
            <input type="text"
                class="auth__form__input" 
                formControlName="email" 
                name="Email" 
                required 
            >
            <p class="auth__error__field" *ngIf="email.touched && email.errors && !errors">
                Por favor, digite um e-mail válido.
            </p>
        </div>
        <div class="auth__form__fields">
            <label class="auth__form__label">Senha</label>
            <input type="password" class="auth__form__input" formControlName="password" name="Senha" required>
            <p class="auth__error__field" *ngIf="password.touched && password.errors && !errors">
                Este campo é requerido.
            </p>
        </div>
        <div class="auth__error" *ngIf="errors && !registered">
            <p class="auth__error__field">E-mail ou senha inválidos. Tente novamente</p>
        </div>
        <div class="auth__error" *ngIf="errors && registered">
            <p class="auth__error__field">E-mail já cadastrado. Entre <a routerLink="/login">aqui</a></p>
        </div>
        <div class="auth__form__btn" *ngIf="type === 'login'">
            <button type="submit">Entrar</button>
        </div>
        <div class="auth__form__btn" *ngIf="type === 'register'">
            <button type="submit">Criar Conta</button>
        </div>
    </form>
    <img src="../../../assets/svgs/planet.svg" alt="" class="auth__form__img">
    <app-loader *ngIf="loading"></app-loader>
</div>