.movies-list {
    display: flex;

    &__box {
        background: rgba(36, 232, 255, 0.05);
        border: 1px solid #351D1D;
        box-shadow: 0px 0px 20px rgba(36, 232, 255, 0.15);
        max-width: 316px;
        margin-bottom: 20px;
        position: relative;

        &-detail {
            display: flex;
            position: absolute;
            bottom: -3px;
            left: 50%;
            transform: translateX(-50%);
        }

        &-quad {
            width: 11px;
            height: 8px;
            background-color: #393434;
            margin-right: 3px;
        }
    }

    &__content {
        color: #fff;
        padding: 21px 20px;
    }

    &__header {
        display: flex;
        align-items: center;
    }

    &__title {
        color: #FFC500;
        font-size: 18px;
    }

    &__description {
        color: #ddd;
        font-size: 13px;
        margin-top: 11px;
    }

    &__detail {
        display: flex;
        align-items: center;
        margin-left: 3px;
    }
}

.is-active {
    background-color: gray;
    border: 1px solid rgba(36, 232, 255, 0.8);

    svg {
        path {
            fill: #fff;
        }
    }

    .movies-list {
        &__header {
            justify-content: space-between;
        }

        &__box {
            &-quad {
                border: 1px solid rgba(36, 232, 255, 0.8);
            }
        }

        &__detail {
            transform: rotate(180deg);
        }
    }
}